
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/global.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aboreto:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="frame">
      <img
        class="thorus-knot-icon"
        loading="lazy"
        alt=""
        src="../thorus-1@2x.png"
      
      />

      <img class="frame-child" alt="" src="../group-3.svg" />

      <section class="navi-parent">
        <div class="navi">
          <div class="logo-wrapper">
            <div class="logo">
              <div class="ellipse-parent">
                <div class="frame-item"></div>
                <div class="laxonity">Laxonity</div>
              </div>
              <div class="logo-child"></div>
              <div class="logo-item"></div>
            </div>
          </div>
          <div class="chips-wrapper">
            <div class="chips">
              <a class="home" href="/">Home</a>
              <a class="about" href="#aboutUs">About</a>
              <a class="services" href="#services">Services</a>
              <a class="block">Block</a>
              <a class="contact" href="#contact">Contact</a>
            </div>
          </div>
          <button class="buttons">
            <div class="get-started">Get started</div>
          </button>
        </div>
        <div class="text-block-parent">
          <div class="text-block">
            <div class="icons">
              <img
                class="icons1"
                loading="lazy"
                alt=""
                src="../icons.svg"
              />

              <img
                class="icons2"
                loading="lazy"
                alt=""
                src="../icons-1.svg"
              />
            </div>
            <div class="text-buttons">
              <div class="h1-text">
                <h1 class="improve-your-business">
                  Improve your business with our Digital Marketing services.
                </h1>
                <div class="our-goal-is">
                  Our goal is to make it as easy for you to walk away with the
                  solution that suits your needs perfectly. Discover how we can
                  transform your online presence.
                </div>
              </div>
              <div class="buttons1">
                <a href="#mailform"><button class="buttons2">
                  <div class="get-started1">Get started</div>
                </button></a>
                <a href="#plan"><button class="buttons3">
                  <div class="pricing">Pricing</div>
                  <img
                    class="icons24defaultchevron-right"
                    alt=""
                    src="../icons24defaultchevronright.svg"
                  />
                </button></a>
              </div>
            </div>
          </div>
          <div class="data-aggregator">
            <div class="hero-section">
              <div class="branching-tree">
                <div class="man-message">
                  <div class="content">
                    <div class="price">
                      <div class="child-combiner">$ 2, 000</div>
                      <div class="decision-maker">
                        <b class="error-handler">+ 1, 2 %</b>
                      </div>
                    </div>
                    <div class="total-revenue">
                      <div class="total-revenue1">Total Revenue</div>
                      <img
                        class="icons24defaulttimeline"
                        alt=""
                        src="../icons24defaulttimeline.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="sequential-processor">
                <div class="switcher">
                  <img
                    class="thorus-1-icon"
                    loading="lazy"
                    alt=""
                    src="../thorus-1@2x.png"
                  />

                  <img
                    class="value-splitter-icon"
                    alt=""
                    src="../value-splitter@2x.png"
                  />
                </div>
                <div class="parent-selector">
                  <img
                    class="thorus-knot-icon1"
                    loading="lazy"
                    alt=""
                    src="../thorus-knot@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="data-validator">
        <div class="rate-limiter">
          <div class="sequence-joiner">
            <div class="value-combiner-parent">
              <div class="value-combiner">
                <button class="name">
                  <div class="how-we-are">How we are built different</div>
                </button>
                <h1 class="trustworthy-seo-agency">
                  Trustworthy SEO Agency for Sustainable Online Growth
                </h1>
              </div>
              <div class="digital-marketing-refers">
                Digital marketing refers to the practice of promoting products
                or services using digital technologies, primarily on the
                internet. This can include a range of techniques, such as social
                media marketing, search engine optimization (SEO), e-mail
                marketing, pay-per-click advertising, and content marketing.
              </div>
            </div>
            <div class="filtered-output">
              <div class="split-input">
                <div class="window">
                  <div class="icons-wrapper">
                    <img
                      class="icons3"
                      loading="lazy"
                      alt=""
                      src="../icons-2.svg"
                    />
                  </div>
                  <div class="h-text">
                    <b class="simple-solution">Simple solution</b>
                    <div class="sum-dolor-sit">sum dolor sit amet</div>
                  </div>
                </div>
                <div class="window1">
                  <div class="output-collector">
                    <img class="icons4" alt="" src="../icons-3.svg" />
                  </div>
                  <div class="h-text1">
                    <b class="simple-solution1">Management</b>
                    <div class="sum-dolor-sit1">sum dolor sit amet</div>
                  </div>
                </div>
              </div>
              <div class="split-input1">
                <div class="window2">
                  <div class="icons-container">
                    <img class="icons5" alt="" src="../icons-4.svg" />
                  </div>
                  <div class="h-text2">
                    <b class="simple-solution2">Simple solution</b>
                    <div class="sum-dolor-sit2">sum dolor sit amet</div>
                  </div>
                </div>
                <div class="window3">
                  <div class="icons-frame">
                    <img class="icons6" alt="" src="../icons-5.svg" />
                  </div>
                  <div class="h-text3">
                    <b class="simple-solution3">SEO Optimization</b>
                    <div class="sum-dolor-sit3">sum dolor sit amet</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="aboutUs" class="rate-limiter-child"></div>
        </div>
        <div class="results">
          <div class="bg"></div>
          <div class="content1">
            <div class="jobs-completed">
              <div class="k-wrapper">
                <div class="k">4.8K</div>
              </div>
              <div class="jobs-completed1">Jobs completed</div>
            </div>
            <div class="industry-experience">
              <div class="wrapper">
                <div class="div">15 +</div>
              </div>
              <div class="industry-experience1">Industry experience</div>
            </div>
            <div class="global-clients">
              <div class="k1">3.6K+</div>
              <div class="data-aggregator1">
                <div class="global-clients1">Global clients</div>
              </div>
            </div>
            <div class="awards-wined">
              <div class="container">
                <div class="div1">130 +</div>
              </div>
              <div class="awards-wined1">Awards wined</div>
            </div>
          </div>
        </div>
      </section>
      <section class="subscribe">
        <div id="mailform" class="bg1"></div>
        <div class="content2">
          <div class="keep-up-with-the-latest-and-gr-parent">
            <h2 class="keep-up-with-container">
              <span
                >Keep up with the latest and greatest in growth marketing.
              </span>
              <span class="pick-up-your">Pick up your gift!</span>
            </h2>
            <div class="vector-wrapper">
              <img class="frame-inner" alt="" src="../vector-4.svg" />
            </div>
          </div>
          <div class="field-wrapper">
            <form class="field" method="POST" action="/mail">
              <input name="mail" id="mailtype" class="mailtype" type="text" placeholder="Enter your E-mail to stay informed ..." >
              <p id="test" class="test"></p>
              <button  class="small-button">
                <b class="send">Send</b>
              </button>
            </form>
          </div>
        </div>
      </section>
      <section class="subscribe1">
        <div class="bg2"></div>
        <div class="subscribe-child"></div>
        <div class="frame-parent">
          <div class="frame-group">
            <div class="ellipse-group">
              <div class="ellipse-div"></div>
              <div class="frame-child1"></div>
              <div class="frame-container">
                <div class="frame-div">
                  <div class="what-our-clients-says-wrapper">
                    <h1 class="what-our-clients-container">
                      <p class="what-our">What our</p>
                      <p class="clients-says">clients says</p>
                    </h1>
                  </div>
                  <div class="dont-just-take">Don`t just take our word</div>
                </div>
                <div class="wrapper-vector-parent">
                  <div class="wrapper-vector">
                    <img
                      class="vector-icon"
                      loading="lazy"
                      alt=""
                      src="../vector.svg"
                    />
                  </div>
                  <div class="wrapper-vector1">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="../vector-1.svg"
                    />
                  </div>
                  <div class="frame-wrapper">
                    <div class="ellipse-container">
                      <img
                        class="ellipse-icon"
                        loading="lazy"
                        alt=""
                        src="../ellipse-66@2x.png"
                      />

                      <div class="ellipse-wrapper">
                        <img
                          class="frame-child2"
                          alt=""
                          src="../ellipse-69@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                class="frame-child3"
                loading="lazy"
                alt=""
                src="../ellipse-71@2x.png"
              />
            </div>
            <div class="frame-parent1">
              <div class="wrapper-vector-wrapper">
                <div class="wrapper-vector2">
                  <img class="vector-icon2" alt="" src="../vector.svg" />
                </div>
              </div>
              <div class="wrapper-vector-group">
                <div class="wrapper-vector3">
                  <img class="vector-icon3" alt="" src="../vector.svg" />
                </div>
                <img
                  class="frame-child4"
                  alt=""
                  src="../ellipse-70@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="frame-wrapper1">
            <div class="frame-parent2">
              <div class="wrapper-vector-container">
                <div class="wrapper-vector4">
                  <img class="vector-icon4" alt="" src="../vector.svg" />
                </div>
                <div class="ellipse-frame">
                  <div class="frame-child5"></div>
                </div>
              </div>
              <div class="frame-wrapper2">
                <div class="frame-parent3">
                  <div class="thorus-knot-wrapper">
                    <img
                      class="thorus-knot-icon2"
                      alt=""
                      src="../thorus-knot@2x.png"
                    />
                  </div>
                  <img
                    class="data-aggregator-icon"
                    alt=""
                    src="../data-aggregator@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shape-setter"></div>
        <div class="subscribe-inner">
          <div class="frame-parent4">
            <div class="frame-wrapper3">
              <div class="frame-parent5">
                <div class="frame-parent6">
                  <div class="janette-miller-parent">
                    <h3 class="janette-miller">Janette Miller</h3>
                    <img
                      class="thorus-knot-icon3"
                      alt=""
                      src="../thorus-knot@2x.png"
                    />
                  </div>
                  <div class="paris-france">Paris, France</div>
                </div>
                <div class="stars-wrapper">
                  <div class="stars">
                    <img
                      class="space-distributor-icon"
                      alt=""
                      src="../space-distributor.svg"
                    />

                    <img
                      class="space-distributor-icon1"
                      alt=""
                      src="../space-distributor.svg"
                    />

                    <img
                      class="space-distributor-icon2"
                      alt=""
                      src="../space-distributor.svg"
                    />

                    <img
                      class="space-distributor-icon3"
                      alt=""
                      src="../space-distributor.svg"
                    />

                    <img
                      class="space-distributor-icon4"
                      alt=""
                      src="../space-distributor.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="color-selector">
              <img class="objects-icon" alt="" src="../objects.svg" />

              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet consectetur. Cras ac justo facilisis
                odio sed nec quam. Lacus dolor quis congue eget felis at. Purus
                commodo suspendisse dolor aliquam ut ipsum bibendum vulputate
                nulla. Tincidunt velit risus et consequat tincidunt.
              </div>
              <div class="blending-mode">
                <img
                  class="objects-icon1"
                  alt=""
                  src="../objects-1.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="image-importer">
          <div class="thorus-knot-parent">
            <img
              class="thorus-knot-icon4"
              alt=""
              src="../thorus-knot@2x.png"
            />

            <div class="layer-maker">
              <div class="link-creator">
                <div class="parent-holder">
                  <div class="layout-manager"></div>
                </div>
                <div class="resize-handler"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg3"></section>
      <section class="position-handler">
        <div class="wrapper-scale-handler">
          <img
            class="scale-handler-icon"
            loading="lazy"
            alt=""
            src="../vector.svg"
          />
        </div>
        <div class="wrapper-scale-handler1">
          <img class="scale-handler-icon1" alt="" src="../vector.svg" />
        </div>
        <div class="wrapper-vector5">
          <img class="vector-icon5" alt="" src="../vector-7.svg" />
        </div>
        <div class="wrapper-scale-handler2">
          <img
            class="scale-handler-icon2"
            loading="lazy"
            alt=""
            src="../vector.svg"
          />
        </div>
        <div class="wrapper-scale-handler3">
          <img class="scale-handler-icon3" alt="" src="../vector.svg" />
        </div>
        <div class="wrapper-scale-handler4">
          <img
            class="scale-handler-icon4"
            loading="lazy"
            alt=""
            src="../vector.svg"
          />
        </div>
      </section>
      <div class="font-selector"></div>
      <img class="thorus-knot-icon5" alt="" src="../thorus-knot@2x.png" />

      <section class="logic-tree">
        <img
          class="logic-tree-child"
          loading="lazy"
          alt=""
          src="../rectangle-62@2x.png"
        />

        <div class="frame-parent7">
          <div class="frame-parent8">
            <div class="name-parent">
              <button class="name1">
                <div class="why-we">Why we?</div>
              </button>
              <h1 class="we-are-the-container">
                <p class="we-are-the">We are the missing</p>
                <p class="piece-of-your">piece of your</p>
                <p class="marketing-puzzle">marketing puzzle</p>
              </h1>
            </div>
            <div class="digital-marketing-refers1">
              Digital marketing refers to the practice of promoting products or
              services using digital technologies, primarily on the internet.
              This can include a range of techniques, such as social media
              marketing, search engine optimization (SEO), e-mail marketing,
              pay-per-click advertising, and content marketing.
            </div>
          </div>
          <button class="buttons4">
            <div class="get-started2">Show how we grew 400 %</div>
          </button>
        </div>
      </section>
      <div class="paragraph-spacer-parent">
        <div class="paragraph-spacer"></div>
        <img class="image-5-icon" alt="" src="../image-5@2x.png" />

        <img
          class="handsome-redhead-man-working-f-icon"
          loading="lazy"
          alt=""
          src="../handsomeredheadmanworkingfreelancelaptopsmilinglookingpleasedcomputerscreenwhit-2@2x.png"
        />

        <img
          class="rectangle-icon"
          loading="lazy"
          alt=""
          src="../rectangle-3@2x.png"
        />
      </div>
      <section class="frame-section">
        <div class="brand-love-us-parent">
          <h1 class="brand-love-us">Brand love us</h1>
          <div class="we-waited-until">
            We waited until we could do ir right.
          </div>
        </div>
        <div class="brands-wrapper">
          <div class="brands">
            <img
              class="lenox-1-icon"
              loading="lazy"
              alt=""
              src="../lenox-1.svg"
            />

            <div class="diesel-5-1-wrapper">
              <img
                class="diesel-5-1-icon"
                loading="lazy"
                alt=""
                src="../diesel5-1.svg"
              />
            </div>
            <img
              class="nissin-2-1-icon"
              loading="lazy"
              alt=""
              src="../nissin2-1.svg"
            />

            <img
              class="g-print-1-icon"
              loading="lazy"
              alt=""
              src="../gprint-1.svg"
            />
          </div>
        </div>
      </section>
      <div class="wrapper-vector-parent1">
        <div class="wrapper-vector6">
          <img class="vector-icon6" alt="" src="../vector-11.svg" />
        </div>
        <div class="wrapper-vector7">
          <img class="vector-icon7" alt="" src="../vector-12.svg" />
        </div>
        <div class="frame-child6"></div>
        <div class="frame-child7"></div>
        <img class="table-maker-icon" alt="" src="../table-maker.svg" />

        <img class="row-sizer-icon" alt="" src="../row-sizer.svg" />

        <img
          class="cell-container-icon"
          alt=""
          src="../cell-container.svg"
        />

        <img class="data-hub-icon" alt="" src="../data-hub.svg" />

        <div class="frame-child8"></div>
      </div>
      <section class="logic-tree1">
        <button class="name2">
          <div class="invisibly">Invisibly</div>
        </button>
        <div class="frame-parent9">
          <div class="frame-parent10">
            <div class="we-helped-invisibly-a-founder-parent">
              <h1 class="we-helped-invisibly-container">
                <p class="we-helped-invisibly">
                  We helped Invisibly, a Founders
                </p>
                <p class="fund-backed-start-up-acquire">
                  Fund-backed start-up, acquire
                </p>
                <p class="users-in-90">10,000 + users in 90 days</p>
              </h1>
              <div class="digital-marketing-refers2">
                Digital marketing refers to the practice of promoting products
                or services using digital technologies, primarily on the
                internet. This can include a range of techniques, such as social
                media marketing, search engine optimization (SEO), e-mail
                marketing, pay-per-click advertising, and content marketing.
              </div>
            </div>
            <button class="buttons5">
              <div class="get-started3">Show how we grew 400 %</div>
            </button>
          </div>
          <div class="frame-parent11">
            <div class="frame-parent12">
              <div class="frame-wrapper4">
                <div class="frame-parent13">
                  <div class="frame-parent14">
                    <div class="icons-wrapper1">
                      <img class="icons7" alt="" src="../icons-6.svg" />
                    </div>
                    <div class="div2">10, 000</div>
                  </div>
                  <b class="registered-users">Registered users</b>
                </div>
              </div>
              <div class="rectangle-div"></div>
            </div>
            <div class="rectangle-wrapper">
              <div class="frame-child9"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="logic-tree2"></div>
      <div class="frame-child10"></div>
      <div class="logic-tree3"></div>
      <div class="logic-tree4"></div>
      <div class="logic-tree5"></div>
      <div class="logic-tree6"></div>
      <div class="logic-tree7"></div>
      <div class="logic-tree8"></div>
      <section class="shape-set">
        <div class="our-team-parent">
          <h1 class="our-team">Our team</h1>
          <div class="meet-your-marketing">Meet your marketing dream team</div>
        </div>
        <div class="container-cove">
          <div class="function-farm">
            <img
              class="event-echo-icon"
              loading="lazy"
              alt=""
              src="../rectangle-68@2x.png"
            />

            <b class="ashot">Ashot</b>
          </div>
          <div class="function-farm1">
            <img
              class="function-farm-child"
              loading="lazy"
              alt=""
              src="../rectangle-69@2x.png"
            />

            <b class="ahmet">Ahmet</b>
          </div>
          <div class="function-farm2">
            <img
              class="function-farm-item"
              loading="lazy"
              alt=""
              src="../rectangle-70@2x.png"
            />

            <b class="rafik">Rafik</b>
          </div>
          <div class="function-farm3">
            <img
              class="function-farm-inner"
              loading="lazy"
              alt=""
              src="../rectangle-71@2x.png"
            />

            <b class="b">Джон Уик Младший</b>
          </div>
          <div class="function-farm4">
            <img
              class="function-farm-child1"
              loading="lazy"
              alt=""
              src="../rectangle-68-1@2x.png"
            />

            <b class="anna">Anna</b>
          </div>
          <div class="function-farm5">
            <img
              class="function-farm-child2"
              loading="lazy"
              alt=""
              src="../rectangle-69-1@2x.png"
            />

            <b class="lee">Lee</b>
          </div>
          <div class="function-farm6">
            <img
              class="function-farm-child3"
              loading="lazy"
              alt=""
              src="../rectangle-70-1@2x.png"
            />

            <b class="angelina">Angelina</b>
          </div>
          <div class="function-farm7">
            <img
              class="function-farm-child4"
              loading="lazy"
              alt=""
              src="../rectangle-71-1@2x.png"
            />

            <b class="john">John</b>
          </div>
        </div>
      </section>
      <section class="color-palette">
        <div class="size-square"></div>
        <div class="radius-ring"></div>
        <img class="vector-icon8" alt="" src="../vector-13.svg" />

        <div class="group-div">
          <div class="frame-child11"></div>
          <img class="image-24-icon" alt="" src="../image-24@2x.png" />
        </div>
        <div class="color-palette-child"></div>
        <div class="wrapper-group-32993">
          <img
            class="wrapper-group-32993-child"
            loading="lazy"
            alt=""
            src="../group-32993.svg"
          />
        </div>
        <img
          class="image-25-icon"
          loading="lazy"
          alt=""
          src="../image-25@2x.png"
        />

        <img class="image-26-icon" alt="" src="../image-26@2x.png" />

        <img
          class="image-27-icon"
          loading="lazy"
          alt=""
          src="../image-27@2x.png"
        />

        <img class="image-28-icon" alt="" src="../image-28@2x.png" />
      </section>
      <section id="services" class="frame-parent15">
        <div class="name-group">
          <button class="name3">
            <div class="faq">FAQ</div>
          </button>
          <h1 class="how-can-we-container">
            <p class="how-can-we">How can we help you</p>
            <p class="at-this-moment">at this moment?</p>
          </h1>
        </div>
        <div class="anchoring-anchor">
          <div class="alignment-aligner">
            <div class="distribution-distributor">
              <div class="how-to-improve-container">
                <p class="how-to-improve">How to improve your</p>
                <p class="business-strategy">business strategy?</p>
              </div>
              <div class="icons-wrapper2">
                <img class="icons8" alt="" src="../icons-7.svg" />
              </div>
            </div>
            <div class="hidden-hold">
              <div class="lorem-ipsum-dolor1">
                Lorem ipsum dolor sit amet consectetur. Consectetur tincidunt
                semper scelerisque porttitor. Eget porttitor sit quisque
                adipiscing pretium eu amet ullamcorper. Maecenas augue diam vel
                posuere elementum. Nibh vestibulum accumsan viverra lectus
                vestibulum aenean libero.
              </div>
            </div>
            <div class="transparency-transition">
              <div class="opacity-operator"></div>
            </div>
            <div class="gradient-graden">
              <div class="fill-finder">
                <div class="what-is-the-container">
                  <p class="what-is-the">What is the best social</p>
                  <p class="media-for-boosting">media for boosting?</p>
                </div>
                <div class="icons-wrapper3">
                  <img class="icons9" alt="" src="../icons-8.svg" />
                </div>
              </div>
              <div class="fill-finder1"></div>
              <div class="fill-finder2">
                <div class="how-to-increase-container">
                  <p class="how-to-increase">How to increase my</p>
                  <p class="website-traffics">Website traffics?</p>
                </div>
                <div class="icons-wrapper4">
                  <img class="icons10" alt="" src="../icons-8.svg" />
                </div>
              </div>
              <div class="fill-finder3"></div>
              <div class="fill-finder4">
                <div class="how-to-improve-container1">
                  <p class="how-to-improve1">How to improve your</p>
                  <p class="business-strategy1">business strategy?</p>
                </div>
                <div class="icons-wrapper5">
                  <img class="icons11" alt="" src="../icons-8.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="symbol-signpost">
            <img
              class="image-29-icon"
              loading="lazy"
              alt=""
              src="../image-29@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="connect-with-us">Connect with us upon</div>
      <section class="style-setter">
        <div class="layer-library-parent">
          <div class="layer-library">
            <h1 class="lets-talk-about">
              Let`s talk about what we can make, build, scale together!
            </h1>
          </div>
          <div class="master-master">
            <div class="property-provider">
              <div class="data-aggregator2">
                <div class="filter-tree">
                  <img class="icons12" alt="" src="../icons-11.svg" />

                  <input
                    class="nested-list"
                    placeholder="+ (380) 94 983 9843"
                    type="text"
                  />
                </div>
                <div class="filter-tree1">
                  <img class="icons13" alt="" src="../icons-12.svg" />

                  <input
                    class="juliavodyanayagmailcom"
                    placeholder="juliavodyanaya@gmail.com"
                    type="text"
                  />
                </div>
                <div class="filter-tree2">
                  <img class="icons14" alt="" src="../icons-13.svg" />

                  <input class="ukraine" placeholder="Ukraine" type="text" />
                </div>
              </div>
            </div>
            <div id="contact" class="form">
              <div class="input-splitter">
                <div class="get-in-touch">Get in Touch!</div>
                <div class="error-handler1">
                  <form method="POST" action="/home" class="fields">
                    <div class="component-17">
                      <div class="select-subject">Select subject *</div>
                      <div class="field1">
                        <div class="marketing">Marketing</div>
                        <img
                          class="tabler-icons"
                          alt=""
                          src="../tabler-icons.svg"
                        />
                      </div>
                    </div>
                    <div class="component-18">
                      <div class="name4">Name *</div>
                      <input name="name" class="field2" placeholder="Julia" type="text" />
                    </div>
                    <div class="component-19">
                      <div class="e-mail">E-mail *</div>
                      <input name="email" class="field3" placeholder="E-mail" type="text" />
                    </div>
                    <div class="component-20">
                      <div class="phone-number">Phone number *</div>
                      <input
                        class="field4"
                        placeholder="Phone number"
                        type="text"
                        name="phone"
                      />
                    </div>
                    <div class="component-22">
                      <div class="phone-number1">Text *</div>
                      <textarea
                        class="field5"
                        name="usrText"   
                      >
                      </textarea>
                    </div>
                    <button class="buttons6">
                      <div class="get-started4">Submit</div>
                    </button>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="icons15">
          <div class="data-fusion">
            <img
              class="icons16"
              loading="lazy"
              alt=""
              src="../icons-14.svg"
            />
          </div>
          <div class="data-fusion1">
            <img
              class="icons17"
              loading="lazy"
              alt=""
              src="../icons-15.svg"
            />
          </div>
          <div class="data-fusion2">
            <img
              class="icons18"
              loading="lazy"
              alt=""
              src="../icons-16.svg"
            />
          </div>
          <div class="data-fusion3">
            <img class="icons19" alt="" src="../icons-17.svg" />
          </div>
          <div class="data-fusion4">
            <img class="icons20" alt="" src="../icons-18.svg" />
          </div>
          <div class="data-fusion5">
            <img class="icons21" alt="" src="../icons-19.svg" />
          </div>
        </div>
      </section>
      <img
        class="group-icon"
        loading="lazy"
        alt=""
        src="../group-32997.svg"
      />

      <section class="data-splitter">
        <div class="data-merger-parent">
          <div class="data-merger">
            <div class="data-filter">
              <div class="data-mapper">
                <div class="logo1">
                  <div class="conditional-graph">
                    <div class="conditional-graph-child"></div>
                    <div class="laxonity1">Laxonity</div>
                  </div>
                  <div class="logo-inner"></div>
                  <div class="logo-child1"></div>
                </div>
                <div class="data-parser">
                  <div class="icons-parent">
                    <img class="icons22" alt="" src="../icons-20.svg" />

                    <div class="data-mapper-tree">
                      <div class="juliavodyanayagmailcom1">
                        juliavodyanaya@gmail.com
                      </div>
                    </div>
                  </div>
                  <div class="icons-group">
                    <img class="icons23" alt="" src="../icons-21.svg" />

                    <div class="ukraine-wrapper">
                      <div class="ukraine1">Ukraine</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="data-selector">
              <b class="company">Company</b>
              <div class="merging-tree">
                <div class="sort-tree">
                  <div class="about-us">About us</div>
                  <div class="services1">Services</div>
                  <div class="blog">Blog</div>
                </div>
                <div class="sort-tree1">
                  <div class="how-we-work">How we work</div>
                  <div class="portfolio">Portfolio</div>
                  <div class="privacy-policy">Privacy policy</div>
                </div>
              </div>
            </div>
          </div>
          <div class="data-filter-graph">
            <img class="icons24" alt="" src="../icons-22.svg" />

            <img class="icons25" alt="" src="../icons-23.svg" />

            <img class="icons26" alt="" src="../icons-24.svg" />

            <img class="icons27" alt="" src="../icons-25.svg" />

            <img class="icons28" alt="" src="../icons-26.svg" />

            <img class="icons29" alt="" src="../icons-27.svg" />
          </div>
        </div>
      </section>
      <div class="new-page"></div>
      <div class="new-page1"></div>
      <div class="new-page2"></div>
      <div class="new-page3"></div>
      <div class="new-page4"></div>
      <section class="logic-network">
        <div class="data-merger-network">
          <div class="section">
            <div class="container1"></div>
          </div>
        </div>
        <div class="subscribe2">
          <div id="plan" class="bg4"></div>
          <div class="shape-container">
            <h1 class="our-plans-scale-container">
              <span>Our plans scale </span>
              <span class="with">with</span>
              <span> your business</span>
            </h1>
          </div>
          <div class="list-processor">
            <div class="plan">
              <div class="plan-child"></div>
              <div class="frame-parent16">
                <div class="icon-wrapper">
                  <img
                    class="icon"
                    loading="lazy"
                    alt=""
                    src="../icon.svg"
                  />
                </div>
                <div class="frame-parent17">
                  <div class="basics-wrapper">
                    <h3 class="basics">Basics</h3>
                  </div>
                  <div class="lorem-ipsum-dolor2">
                    Lorem ipsum dolor sit amet consectetur. Mauris in eget
                    egestas tellus vestibulum a elementum.
                  </div>
                </div>
              </div>
              <div class="variable-holder-wrapper">
                <div class="variable-holder">$ 17.9</div>
              </div>
              <div class="constant-values">
                <div class="benefits">
                  <div class="custom-functions">
                    <div class="icons-wrapper6">
                      <img class="icons30" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="technical-seo">Technical SEO</div>
                  </div>
                  <div class="sequence-controller">
                    <div class="icons-wrapper7">
                      <img class="icons31" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="search-marketing">Search marketing</div>
                  </div>
                  <div class="custom-functions1">
                    <div class="icons-wrapper8">
                      <img class="icons32" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="link-building">Link building</div>
                  </div>
                </div>
              </div>
              <div class="buttons7">
                <div class="get-started5">Choose the plan</div>
              </div>
            </div>
            <div class="plan1">
              <div class="plan-item"></div>
              <div class="frame-parent18">
                <div class="icon-container">
                  <img
                    class="icon1"
                    loading="lazy"
                    alt=""
                    src="../icon.svg"
                  />
                </div>
                <div class="frame-parent19">
                  <div class="basics-container">
                    <h3 class="basics1">Standard</h3>
                  </div>
                  <div class="lorem-ipsum-dolor3">
                    Lorem ipsum dolor sit amet consectetur. Mauris in eget
                    egestas tellus vestibulum a elementum.
                  </div>
                </div>
              </div>
              <div class="wrapper1">
                <div class="div3">$ 17.9</div>
              </div>
              <div class="benefits-wrapper">
                <div class="benefits1">
                  <div class="div4">
                    <div class="icons-wrapper9">
                      <img class="icons33" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="technical-seo1">Content strategy</div>
                  </div>
                  <div class="div5">
                    <div class="icons-wrapper10">
                      <img class="icons34" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="search-marketing1">Google analytics</div>
                  </div>
                  <div class="div6">
                    <div class="icons-wrapper11">
                      <img class="icons35" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="link-building1">Conversion booster</div>
                  </div>
                </div>
              </div>
              <div class="buttons8">
                <div class="get-started6">Choose the plan</div>
              </div>
            </div>
            <div class="plan2">
              <div class="plan-inner"></div>
              <div class="frame-parent20">
                <div class="icon-frame">
                  <img
                    class="icon2"
                    loading="lazy"
                    alt=""
                    src="../icon.svg"
                  />
                </div>
                <div class="frame-parent21">
                  <div class="basics-frame">
                    <h3 class="basics2">Expert</h3>
                  </div>
                  <div class="lorem-ipsum-dolor4">
                    Lorem ipsum dolor sit amet consectetur. Mauris in eget
                    egestas tellus vestibulum a elementum.
                  </div>
                </div>
              </div>
              <div class="wrapper2">
                <div class="div7">$ 17.9</div>
              </div>
              <div class="benefits-container">
                <div class="benefits2">
                  <div class="div8">
                    <div class="icons-wrapper12">
                      <img class="icons36" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="technical-seo2">Pay per click</div>
                  </div>
                  <div class="div9">
                    <div class="icons-wrapper13">
                      <img class="icons37" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="search-marketing2">Digital marketing</div>
                  </div>
                  <div class="div10">
                    <div class="icons-wrapper14">
                      <img class="icons38" alt="" src="../icons-28.svg" />
                    </div>
                    <div class="link-building2">Website design</div>
                  </div>
                </div>
              </div>
              <div class="buttons9">
                <div class="get-started7">Choose the plan</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="new-page5"></div>
    </div>
    <script src="../js/mailtype.js"></script>
  </body>
</html>
